[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
pandas = "*"
scikit-learn = "*"
matplotlib = "*"
seaborn = "*"
plotly = "*"
streamlit = "*"
xgboost = "*"
lightgbm = "*"
shap = "*"
tqdm = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.11"
